.item {
    background-color: var(--color-white);
    padding: 12px;
    border-radius: var(--border-radius-medium);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__open-button {
        text-align: center;
        border: 1px solid var(--color-black);
        padding: 8px 0;
        margin-top: 8px;

        &:hover {
            background-color: var(--color-red);
            color: var(--color-white);
        }
    }

    &:hover {
        outline: 1px solid var(--color-gray);
    }

    &__span-bold {
        color: var(--color-black);
    }

    &__type {
        color: var(--color-black);
        text-transform: uppercase;
    }

    &__data {
        display: flex;
        justify-content: space-between;
        color: var(--color-gray);
        padding: 0 12px;
        margin-bottom: 16px;
    }

    &__authors {
        display: flex;
        gap: 16px;
    }
}