services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: research-data-saver-client
    ports:
      - "3000:3000"
    depends_on:
      - server
    env_file:
      - ./.env
    restart: on-failure
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: research-data-saver-server
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3001:3001"
    restart: on-failure
  db:
    image: postgres:15
    container_name: research-data-saver-db
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d research_info"]
      interval: 5s
      timeout: 5s
      retries: 5
    
volumes:
  postgres_data:

      