@mixin fluid-text($max: 48, $min: 24) {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin reset-link {
    color: inherit;

    &,
    &:hover {
        text-decoration: none;
    }
}

@mixin element-color($color) {
    background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
}

@mixin reset-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

@mixin flex-center ($isInline: false) {
    @if ($isInline) {
        display: inline-flex;
    }
    @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

@mixin square ($width) {
    width: $width;
    aspect-ratio: 1;
}